includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - database/
        - routes/

    # Level 5 is a good balance for Laravel projects
    level: 5

    # ignoreErrors:
    #     - '#PHPDoc tag @var# '

    # excludePaths:
    #     - ./*/*/FileToBeExcluded.php
